/* 
    Document   : dan-luiten
    Created on : 21-May-2014, 9:11:22 PM
    Author     : laurent
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
@font-face
{
    font-family: MyriadPro-Bold;
    src: url('font/MyriadPro-Semibold.otf')
}

@font-face
{
    font-family: MyriadPro-Light;
    src: url('font/MyriadPro-Light.otf')
}

/*#table1_DanLuiten {height: 756px;}*/
#table2_DanLuiten {border-collapse: collapse; position: relative; bottom: 0px ;}
#table1_DanLuiten,#table2_DanLuiten {width: 90%; position: relative; margin: auto; width: 94%; }
.leftTextT2_DanLuiten{position: relative; left: 40px; }

#aPropos_DanLuiten {vertical-align: top; position: relative; /*top: 220px; /*border-right: 1px solid white;*/ /*left: 20px;*/ padding-top: 335px;}
#infos_DanLuiten {position: relative; /*left: 35px;*/ text-align: right;}
#inscriptions_DanLuiten {position: relative; font-size: 90%; width: 76%; float: right}

#aPropos_DanLuiten, #vCell_DanLuiten {width: 55%;}
#aPropos_Content_DanLuiten {text-align: justify;}

#video_DanLuiten {width: 400px; background-color: #fbde9c;}
#schedule_DanLuiten {text-align: right; position: relative;}
#fineprint {font-size: 75%;}

.instructions_DanLuiten {color: white;}
.datePlaceCost_DanLuiten {font-style: normal; font-family: MyriadPro-Bold;}
.date_DanLuiten, h2 {font-family: MyriadPro-Bold;}
table {width: 100%;}
td	{width: 50%; vertical-align: top;}
body {color: #fbde9c; font-family: MyriadPro-Light;}
h2 {color: white;}
button {color: white; background-color: #dead50; border: 0px; border-radius: 5px; height: 2em; width: 16em; font-family: MyriadPro-Bold;}
button a {font-style: normal; text-decoration: none; color: white;}
a {font-style: normal; text-decoration: none; color: #fade9c;}
li {font-size: 1.5em;}
footer {text-align: right; font-size: 0.75em; position: relative; right: 5%;}
section { background: url('img/dan-luiten/background.jpg'); background-size: 100% 100%; background-color: #10131a; position: relative; margin-left: auto; margin-right: auto; border: 0px;}
.container_omega{
    padding: 32px;
}

.separator{
    border-top: 2px solid #fbde9c;
    margin-top: 20px;
    margin-bottom: 20px;
}

#infos_DanLuiten span{
    font-size: 17px;
}

#schedule_DanLuiten .font-size{
    font-size: 17px;
}

#infos_DanLuiten #fineprint{
    font-size: 11px;
}

#table2_DanLuiten a {font-style: normal; text-decoration: none; color: #fade9c;}
#table2_DanLuiten a:hover{color: #d4bb84;}

#aPropos_Content_DanLuiten h2{
    color: #fbde9c;
}
#aPropos_Content_DanLuiten p{
    color: #fbde9c;
    text-shadow: none;
    font-size: 16px;
}

#inscriptions_DanLuiten .instructions_DanLuiten{
    font-size: 16px;
}

#inscriptions_DanLuiten .header{
    font-size: 20px;
    font-weight: bolder;
}

#inscriptions_DanLuiten ol li{
    margin-bottom: 20px;
}

.stationnement{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    display: block;
}

.leftTextT2_DanLuiten li {
    font-weight: bolder;
}

.container_omega h2{
    text-shadow: 1px 1px #cfcfcf;
}

.paypal-type2{
    display: none;
}

#inscriptions_DanLuiten .payment{
    color: #fbde9c;
}

.paypal{
    margin-top: 5px;
}