/* 
    Document   : marie-miller
    Created on : 22-Jan-2014, 8:47:34 PM
    Author     : laurent
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.container_omega {
    width: 921px;
    padding: 15px 18px 15px;
}
.event{
    background-image: url("img/marie-miller/background.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.event .left{
    width: 619px;
    float: left;
}

.event .right{
    width: 290px;
    color: white;
    float: left;
    text-align: right;
    padding-right: 12px;
    font-size: 17px;
    background-color: rgba(96, 81, 101, 0.3);
}

.event .right p{
    color: white;
    text-shadow: none;
}

.event .right h2{
    color: #d5607c;
    text-shadow: none;
    font-weight: bolder;
    font-size: 28px;
    margin-bottom: 2px;
}

.box-info{
    margin-top: 50px;
}

.paiement a.paypal{
    display: inline-block;
    color: white;
    background-color: #dcac58;
    padding: 5px 17px 4px 17px;
    font-weight: bold;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.informations ul li{
    margin-top: 11px;
}
.informations p.info{
    font-size: 11px;
    line-height: 1;
}
.informations span.station{
    font-size: 14px;
}
.informations li.lieu{
    line-height: 1;
}

.paiement li{
    font-size: 18px;
}

.paiement li p{
    font-size: 12px;
    letter-spacing: -0.2px;
    font-weight: 100;
}

.adresse p span{
    font-size: 16px;
    font-weight: bold;
}

.adresse p.stationnement{
    margin: 0;
    font-size: 11px;
    margin-top: 73px;
}

.left span.title1{
    font-size: 90px;
    color: white;
    font-weight: lighter;
    margin-top: 24px;
    letter-spacing: 2.2px;
    margin-left: 20px;
}
.left span.title2{
    font-size: 53px;
    color: white;
    font-weight: lighter;
    float:left;  
    margin-left: 28px;
}
.left span.title3{
    font-size: 119px;
    font-weight: bold;
    color: #d5607c;
    float:left;
    margin-top: -40px;
    margin-left: 22px;;
    -webkit-transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    -o-transform: rotate(350deg);
    transform: rotate(350deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);


}

.left .title4-wrapper{
    background-color: #d5607c;
    display: inline-block;
    padding: 0 10px 0 10px;
    margin-left: 32px;
}
.left span.title4{
    color: white;
    font-size: 22px;
}

.left span.title4 span.violence{
    font-size: 29px;
    font-weight: bold;
}

.left .reverend{
    border-bottom: 25px solid #d5607c;
    position: relative;
    margin-top: 60px;
}
.left .reverend ul{
    display: inline-block;
}
.left .reverend ul li:nth-child(1) {
    color: #2f2d48;
}
.left .reverend ul li:nth-child(3) {
    color: #2f2d48;
    text-align: right;
    font-size: 17px;
    letter-spacing: -0.5px;
}
.left .reverend ul li:nth-child(1) {
    color: #2f2d48;
    text-align: left;
    font-size: 17px;
    letter-spacing: -0.5px;
}
.left .reverend ul li:nth-child(2) {
    color: white;
    font-size: 40px;
    letter-spacing: -0.5px;
    line-height: 0.8;
}

.left .title{
    min-height: 200px;
}
.left .reverend .picture {
    background-image: url("img/marie-miller/picture.png");
    background-repeat: no-repeat;
    height: 401px;
    width: 290px;
}

.left .reverend .desciption{
    position: absolute;
    display: inline-block;
    width: 364px;
    color: white;
    left: 245px;
}

.left .reverend .desciption p{
    color: white;
    text-shadow: none;
}

.block-video{
    margin: 36px 0 36px 0;
    text-align: center;
}


.block-video iframe{
    border: 3px solid black;
}

.downloads{
    text-align: center;
    margin-bottom: 20px;
}

.downloads h2{
    color: #d5607c;
    text-shadow: none;
    font-weight: bolder;
    font-size: 28px;
}

div.downloads a {
    color: white;
    font-size: 18px;
    margin-left: 15px;
    line-height: 1.5;
    text-decoration: underline;
}

.downloads a:hover {
    color: #1e1e1e;
}

div.box-info a.download-link{
    color: white;
}
div.box-info a.download-link:hover{
    color: #1e1e1e;
}